body,html{
  font: 400 14px/1.5 Microsoft YaHei, sans-serif;
  color: #333;
  width: 100%;
  height: 100%;
}
.clearfix{
  display: inline-block;
  &:after {
    display: block;
    content: '.';
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
  }
}

