// reset
body,
div,
h1,
h2,
h3,
h4,
h5,
form,
input,
img,
ul,
ol,
li,
dl,
dt,
dd,
p {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    color: red;
    font-size: 20px;
    font-weight: 300
}
